# .github/workflows/build_and_test.yaml
name: Build and Test

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: '21'

    - uses: subosito/flutter-action@v1
      with:
        flutter-version: '3.35.6' # A Flutter version that uses Dart 3+
        channel: 'stable'

    - name: Install dependencies
      run: flutter pub get

    - name: Build APK
      run: flutter build apk

    - name: Build App Bundle
      run: flutter build appbundle
